

<form asp-controller="Home" asp-action="ForgotPassword" method="post">
    <h4> Enter your email </h4>
    <input name="email" type="email" />
    <input type="submit" value="Next"/> 

    <h5 class="text-danger"> @TempData["notFound"] </h5>
</form>



