


<section class="vh-100">
  <div class="container-fluid">
    <div class="row!important>
      <div class="col-sm-6 text-black">

        @*<div class="px-5 ms-xl-4">
          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          <span class="h1 fw-bold mb-0">Logo</span>
        </div>*@

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

            <form style="width: 23rem;" asp-controller="Home" asp-action="Login" method="post">

                <h2>Log in</h2>

                <div class="control-group lbl-grp">
                    <!-- Username -->
                    <label class="control-label" for="username">Email or Mobile:</label>
                    @*<input type="text" id="username" name="Username" placeholder="" class="input-xlarge">*@
                    <input type="text" id="username" name="Username" placeholder="" class="input-xlarge">
                </div>

                <div class="control-group lbl-grp">
                    <!-- Username -->
                    <label class="control-label" for="username">Password:</label>
                    <input type="password" id="username" name="password" placeholder="" class="input-xlarge">
                </div>

                @*<div class="form-outline mb-4">
          <input type="email" id="form2Example18" class="form-control form-control-lg" />
          <label class="form-label" for="form2Example18">Email address</label>
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="form2Example28" class="form-control form-control-lg" />
          <label class="form-label" for="form2Example28">Password</label>
        </div>*@

                <div class="pt-1 mb-4">
                    <button type="submit" class="btn btn-primary reg-btn">Log in  </button>
                </div>

                <p class="small mb-5 pb-lg-2"><a class="text-muted" href="/Home/ForgotPassword">Forgot password?</a></p>
                <h6 class="text-danger forg-pass"> @TempData["logerror"] </h6>
                <h6 class="text-success forg-pass"> @TempData["ChangeError"] </h6>
                <h5 class="text-success"> @TempData["ChangeSuccess"] </h5>
                @*<h6 class="text-danger forg-pass"> @TempData["logerror1"] </h6>*@
            </form>

        </div>

      </div>
      @*<div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>*@
    </div>
  </div>
</section>
