


<form asp-controller="Home" asp-action="ResetPassword" method="post" style="display: inline-grid;">
    <h4> Reset Password </h4>

    <input type="password" name="newPass" placeholder="new password"/>
    <input type="password" name="ConfPass" placeholder="repeat password"/>
    <input type="hidden" name="persId" value="@ViewData["personId"]" />

    <input type="submit" value="Save"/> 

    <h5 class="text-danger"> @TempData["dontMatch"] </h5>
    <h5 class="text-danger"> @TempData["ChangeError"] </h5>
    <h5 class="text-danger"> @TempData["SamePass"] </h5>
</form>




